Repository Peralban/Zappy, pull requests merged in 2024-06, with the labels that each got.

#29 :video_game: Initialize struct of the game
  Makefile
  Network/Makefile_Network.mk
  Network/Tests/src/ServerTests/init_in_game_stuct_test.c
  Network/include/Server/game.h
  Network/include/Server/server.h
  Network/include/lib/my.h
  Network/src/Parsing/move_args_to_struct.c
  Network/src/Server/init_in_game_stuct.c
  Network/src/Server/zappy_network.c
  Network/src/lib/my_str_to_word_array.c
Labels: :building_construction: Architecture, :globe_with_meridians: Network

#31 🔀 Send data to the server
  AI/Makefile_AI.mk
  AI/src/client_module.py
Labels: :sparkles: Enhancement, :globe_with_meridians: Network, :robot: AI

#32 :ticket: ai/server communication start
  Network/Makefile_Network.mk
  Network/Tests/src/ClientListTests/tests_linked_list.c
  Network/Tests/src/ServerTests/init_in_game_stuct_test.c
  Network/include/ClientList/client_list.h
  Network/include/Server/server.h
  Network/src/ClientList/client_list.c
  Network/src/ClientList/client_list_bis.c
  Network/src/Parsing/move_args_to_struct.c
  Network/src/Server/init_in_game_stuct.c
  Network/src/Server/server_loop.c
  Network/src/Server/zappy_network.c
Labels: :link: Link, :globe_with_meridians: Network

#27 🔀 Create the base of the gui
  .github/workflows/Jobs.yaml
  GUI/Makefile_GUI.mk
  GUI/assets/Black.png
  GUI/assets/White.png
  GUI/assets/obj/objHighPoly/Bishop_hi.mtl
  GUI/assets/obj/objHighPoly/King_hi.mtl
  GUI/assets/obj/objHighPoly/Knight_hi.mtl
  GUI/assets/obj/objHighPoly/Pawn_hi.mtl
  GUI/assets/obj/objHighPoly/Queen_hi.mtl
  GUI/assets/obj/objHighPoly/Rook_hi.mtl
  GUI/assets/obj/objLowPoly/Bishop_low.mtl
  GUI/assets/obj/objLowPoly/King_low.mtl
  GUI/assets/obj/objLowPoly/Knight_low.mtl
  GUI/assets/obj/objLowPoly/Pawn_low.mtl
  GUI/assets/obj/objLowPoly/Queen_low.mtl
  GUI/assets/obj/objLowPoly/Rook_low.mtl
  GUI/assets/obj/objMidPoly/Bishop.mtl
  GUI/assets/obj/objMidPoly/King.mtl
  GUI/assets/obj/objMidPoly/Knight.mtl
  GUI/assets/obj/objMidPoly/Pawn.mtl
  GUI/assets/obj/objMidPoly/Queen.mtl
  GUI/assets/obj/objMidPoly/Rook.mtl
  GUI/src/chessElement/chessBoard.cpp
  GUI/src/chessElement/chessBoard.hpp
  GUI/src/chessElement/chessPiece.cpp
  GUI/src/chessElement/chessPiece.hpp
  GUI/src/event/irrlichtEventHandler.cpp
  GUI/src/event/irrlichtEventHandler.hpp
  GUI/src/game/ZappyGame.cpp
  GUI/src/game/ZappyGame.hpp
  GUI/src/main.cpp
  GUI/src/player/player.cpp
  GUI/src/player/player.hpp
  GUI/src/player/playerInventory.cpp
  GUI/src/player/playerInventory.hpp
  GUI/src/player/playerPosition.cpp
  GUI/src/player/playerPosition.hpp
  GUI/src/player/team.cpp
  GUI/src/player/team.hpp
  GUI/src/zappyIrrlicht/irrlichtWindow.cpp
  GUI/src/zappyIrrlicht/irrlichtWindow.hpp
Labels: :sparkles: Enhancement, :building_construction: Architecture, :bento: GUI

#33 Revert "🔀 Create the base of the gui"
  .github/workflows/Jobs.yaml
  GUI/Makefile_GUI.mk
  GUI/assets/Black.png
  GUI/assets/White.png
  GUI/assets/obj/objHighPoly/Bishop_hi.mtl
  GUI/assets/obj/objHighPoly/King_hi.mtl
  GUI/assets/obj/objHighPoly/Knight_hi.mtl
  GUI/assets/obj/objHighPoly/Pawn_hi.mtl
  GUI/assets/obj/objHighPoly/Queen_hi.mtl
  GUI/assets/obj/objHighPoly/Rook_hi.mtl
  GUI/assets/obj/objLowPoly/Bishop_low.mtl
  GUI/assets/obj/objLowPoly/King_low.mtl
  GUI/assets/obj/objLowPoly/Knight_low.mtl
  GUI/assets/obj/objLowPoly/Pawn_low.mtl
  GUI/assets/obj/objLowPoly/Queen_low.mtl
  GUI/assets/obj/objLowPoly/Rook_low.mtl
  GUI/assets/obj/objMidPoly/Bishop.mtl
  GUI/assets/obj/objMidPoly/King.mtl
  GUI/assets/obj/objMidPoly/Knight.mtl
  GUI/assets/obj/objMidPoly/Pawn.mtl
  GUI/assets/obj/objMidPoly/Queen.mtl
  GUI/assets/obj/objMidPoly/Rook.mtl
  GUI/src/chessElement/chessBoard.cpp
  GUI/src/chessElement/chessBoard.hpp
  GUI/src/chessElement/chessPiece.cpp
  GUI/src/chessElement/chessPiece.hpp
  GUI/src/event/irrlichtEventHandler.cpp
  GUI/src/event/irrlichtEventHandler.hpp
  GUI/src/game/ZappyGame.cpp
  GUI/src/game/ZappyGame.hpp
  GUI/src/main.cpp
  GUI/src/player/player.cpp
  GUI/src/player/player.hpp
  GUI/src/player/playerInventory.cpp
  GUI/src/player/playerInventory.hpp
  GUI/src/player/playerPosition.cpp
  GUI/src/player/playerPosition.hpp
  GUI/src/player/team.cpp
  GUI/src/player/team.hpp
  GUI/src/zappyIrrlicht/irrlichtWindow.cpp
  GUI/src/zappyIrrlicht/irrlichtWindow.hpp
Labels: :rotating_light: Error handling

#34 🔀 Create the base of the gui
  .github/workflows/Jobs.yaml
  GUI/Makefile_GUI.mk
  GUI/assets/Black.png
  GUI/assets/White.png
  GUI/assets/obj/objHighPoly/Bishop_hi.mtl
  GUI/assets/obj/objHighPoly/King_hi.mtl
  GUI/assets/obj/objHighPoly/Knight_hi.mtl
  GUI/assets/obj/objHighPoly/Pawn_hi.mtl
  GUI/assets/obj/objHighPoly/Queen_hi.mtl
  GUI/assets/obj/objHighPoly/Rook_hi.mtl
  GUI/assets/obj/objLowPoly/Bishop_low.mtl
  GUI/assets/obj/objLowPoly/King_low.mtl
  GUI/assets/obj/objLowPoly/Knight_low.mtl
  GUI/assets/obj/objLowPoly/Pawn_low.mtl
  GUI/assets/obj/objLowPoly/Queen_low.mtl
  GUI/assets/obj/objLowPoly/Rook_low.mtl
  GUI/assets/obj/objMidPoly/Bishop.mtl
  GUI/assets/obj/objMidPoly/King.mtl
  GUI/assets/obj/objMidPoly/Knight.mtl
  GUI/assets/obj/objMidPoly/Pawn.mtl
  GUI/assets/obj/objMidPoly/Queen.mtl
  GUI/assets/obj/objMidPoly/Rook.mtl
  GUI/src/chessElement/chessBoard.cpp
  GUI/src/chessElement/chessBoard.hpp
  GUI/src/chessElement/chessPiece.cpp
  GUI/src/chessElement/chessPiece.hpp
  GUI/src/event/irrlichtEventHandler.cpp
  GUI/src/event/irrlichtEventHandler.hpp
  GUI/src/game/ZappyGame.cpp
  GUI/src/game/ZappyGame.hpp
  GUI/src/main.cpp
  GUI/src/player/player.cpp
  GUI/src/player/player.hpp
  GUI/src/player/playerInventory.cpp
  GUI/src/player/playerInventory.hpp
  GUI/src/player/playerPosition.cpp
  GUI/src/player/playerPosition.hpp
  GUI/src/player/team.cpp
  GUI/src/player/team.hpp
  GUI/src/zappyIrrlicht/irrlichtWindow.cpp
  GUI/src/zappyIrrlicht/irrlichtWindow.hpp
Labels: :building_construction: Architecture, :bento: GUI, :rotating_light: Error handling

#35 23 do Movement command
  Network/CMakeLists.txt
  Network/Makefile_Network.mk
  Network/Tests/src/ParsingTests/move_args_to_struct_test.c
  Network/Tests/src/libTests/my_str_to_word_array_test.c
  Network/include/Game/game.h
  Network/include/Game/game_command.h
  Network/include/Game/game_functions.h
  Network/include/Parsing/arguments_struct.h
  Network/include/Server/server.h
  Network/include/lib/my.h
  Network/src/ClientList/client_list.c
  Network/src/Game/game_command.c
  Network/src/Game/game_functions.c
  Network/src/Parsing/move_args_to_struct.c
  Network/src/Server/init_in_game_stuct.c
  Network/src/Server/server_loop.c
  Network/src/Server/update_players.c
  Network/src/lib/my_str_to_word_array.c
Labels: :sparkles: Enhancement, :globe_with_meridians: Network

#37 :gem: resources system
  Network/Tests/src/ParsingTests/move_args_to_struct_test.c
  Network/include/Game/game.h
  Network/include/Server/server.h
  Network/src/Game/game_functions.c
  Network/src/Server/init_in_game_stuct.c
  Network/src/Server/server_loop.c
Labels: :sparkles: Enhancement, :globe_with_meridians: Network

#38 🔀 15 package create functions to get data from server
  AI/src/ai_zappy.py
Labels: :sparkles: Enhancement, :robot: AI

#44 :poultry_leg: Trantorian can now eat (and would die if they dont)
  Network/include/Game/game.h
  Network/include/Server/server.h
  Network/src/Game/game_functions.c
  Network/src/Server/init_in_game_stuct.c
  Network/src/Server/server_loop.c
  Network/src/Server/update_players.c
Labels: :sparkles: Enhancement, :globe_with_meridians: Network

#45 :three: life and death of a trantor
  Network/CMakeLists.txt
  Network/Makefile_Network.mk
  Network/include/Game/game_command.h
  Network/include/Game/game_functions.h
  Network/include/Server/server.h
  Network/src/Game/egg_hatching.c
  Network/src/Game/game_command.c
  Network/src/Game/game_command_bis.c
  Network/src/Game/game_functions.c
  Network/src/Server/init_in_game_stuct.c
Labels: :sparkles: Enhancement, :globe_with_meridians: Network

#48 4️⃣ In game object interaction
  Network/Makefile_Network.mk
  Network/include/Game/game_command.h
  Network/include/Game/game_functions.h
  Network/src/Game/game_command_bis.c
  Network/src/Game/game_command_ter.c
  Network/src/Game/inventory_function.c
  Network/src/Game/look_around.c
  Network/src/Game/object_manipulation.c
Labels: :sparkles: Enhancement, :globe_with_meridians: Network

#58 47 incantation command
  Network/Makefile_Network.mk
  Network/include/Game/game.h
  Network/include/Game/game_command.h
  Network/include/Game/game_functions.h
  Network/include/Server/server.h
  Network/src/Game/incantation.c
  Network/src/Server/update_players.c
Labels: :sparkles: Enhancement, :globe_with_meridians: Network

#59 :eyes: Fix look function
  Network/src/Game/look_around.c
Labels: :bug: Bug, :globe_with_meridians: Network

#63 :bento: adding missing objfile
  GUI/assets/obj/objHighPoly/Bishop.obj
  GUI/assets/obj/objHighPoly/King.obj
  GUI/assets/obj/objHighPoly/Knight.obj
  GUI/assets/obj/objHighPoly/Pawn.obj
  GUI/assets/obj/objHighPoly/Queen.obj
  GUI/assets/obj/objHighPoly/Rook.obj
  GUI/assets/obj/objLowPoly/Bishop.obj
  GUI/assets/obj/objLowPoly/King.obj
  GUI/assets/obj/objLowPoly/Knight.obj
  GUI/assets/obj/objLowPoly/Pawn.obj
  GUI/assets/obj/objLowPoly/Queen.obj
  GUI/assets/obj/objLowPoly/Rook.obj
  GUI/assets/obj/objMidPoly/Bishop.obj
  GUI/assets/obj/objMidPoly/King.obj
  GUI/assets/obj/objMidPoly/Knight.obj
  GUI/assets/obj/objMidPoly/Pawn.obj
  GUI/assets/obj/objMidPoly/Queen.obj
  GUI/assets/obj/objMidPoly/Rook.obj
Labels: :sparkles: Enhancement, :bento: GUI

#61 :sparkles: the GUI can now communicate with the server throught a non…
  GUI/Makefile_GUI.mk
  GUI/src/game/ZappyGame.cpp
  GUI/src/game/ZappyGame.hpp
  GUI/src/main.cpp
  GUI/src/networkGui/guiClient.cpp
  GUI/src/networkGui/guiClient.hpp
  GUI/src/zappyIrrlicht/irrlichtWindow.cpp
  GUI/src/zappyIrrlicht/irrlichtWindow.hpp
Labels: :sparkles: Enhancement, :bento: GUI

#40 🔀 Merge AI network & AI algorithm
  .gitignore
  AI/Makefile_AI.mk
  AI/Tests/.gitkeep
  AI/Tests/test.py
  AI/src/ai_zappy.py
  AI/src/client_module.py
Labels: :sparkles: Enhancement, :link: Link, :globe_with_meridians: Network, :robot: AI

#65 :recycle: creating OBJloader and Textureloader to avoid re writing th…
  GUI/Makefile_GUI.mk
  GUI/src/chessElement/chessBoard.cpp
  GUI/src/chessElement/chessBoard.hpp
  GUI/src/chessElement/chessPiece.cpp
  GUI/src/chessElement/chessPiece.hpp
  GUI/src/game/ZappyGame.cpp
  GUI/src/game/ZappyGame.hpp
  GUI/src/loader/objLoader.cpp
  GUI/src/loader/objLoader.hpp
  GUI/src/loader/textureLoader.cpp
  GUI/src/loader/textureLoader.hpp
  GUI/src/main.cpp
  GUI/src/networkGui/guiClient.cpp
  GUI/src/networkGui/guiClient.hpp
  GUI/src/player/player.hpp
  GUI/src/player/playerInventory.cpp
  GUI/src/player/playerInventory.hpp
  GUI/src/player/team.cpp
  GUI/src/player/team.hpp
  GUI/src/zappyIrrlicht/irrlichtWindow.cpp
  GUI/src/zappyIrrlicht/irrlichtWindow.hpp
Labels: :construction: Work in Progress, :bento: GUI

#67 :memo: Adding comment to each function like this was a libray so the …
  GUI/src/chessElement/chessBoard.hpp
  GUI/src/chessElement/chessPiece.hpp
  GUI/src/event/irrlichtEventHandler.hpp
  GUI/src/game/ZappyGame.hpp
  GUI/src/loader/objLoader.hpp
  GUI/src/loader/textureLoader.hpp
  GUI/src/networkGui/guiClient.cpp
  GUI/src/networkGui/guiClient.hpp
  GUI/src/player/player.hpp
  GUI/src/player/playerPosition.hpp
  GUI/src/player/team.hpp
  GUI/src/zappyIrrlicht/irrlichtWindow.hpp
Labels: :memo: Documentation, :bento: GUI

#66 :eyes: Fix look function (again)
  Network/src/Game/look_around.c
  Network/src/Game/object_manipulation.c
Labels: :bug: Bug, :globe_with_meridians: Network

#52 :bulb: Create README.md
  README.md
Labels: :sparkles: Enhancement

#68 :art: Starting communication with the gui
  Network/CMakeLists.txt
  Network/Makefile_Network.mk
  Network/include/Game/game_command.h
  Network/include/Game/game_functions.h
  Network/include/GuiProtocol/gui.h
  Network/include/Server/server.h
  Network/src/Game/eject_function.c
  Network/src/Game/game_command.c
  Network/src/Game/game_command_bis.c
  Network/src/Game/game_command_ter.c
  Network/src/Game/game_tick.c
  Network/src/Game/incantation.c
  Network/src/Parsing/parse_args.c
  Network/src/Server/server_loop.c
  Network/src/Server/update_players.c
Labels: :building_construction: Architecture, :globe_with_meridians: Network

#73 :bug: AI-server communication
  Network/src/Server/server_loop.c
Labels: :bug: Bug, :globe_with_meridians: Network

#70 :video_game: Create the player info command
  Network/src/GUI/player_info_cmd.c
Labels: :sparkles: Enhancement, :globe_with_meridians: Network

#69 :sparkles: Create time command function
  Network/src/GUI/time_cmd.c
Labels: :sparkles: Enhancement, :globe_with_meridians: Network

#77 ✨ Close socket properly
  AI/src/client_module.py
Labels: :sparkles: Enhancement

#79 :recycle: Add all send info to the existence function
  Network/Makefile_Network.mk
  Network/include/Game/game_command.h
  Network/include/GuiProtocol/gui_event.h
  Network/include/Server/server.h
  Network/src/Game/egg_hatching.c
  Network/src/Game/eject_function.c
  Network/src/Game/game_command.c
  Network/src/Game/game_command_bis.c
  Network/src/Game/game_command_ter.c
  Network/src/Game/game_functions.c
  Network/src/Game/incantation.c
  Network/src/Game/launch_broadcast.c
  Network/src/Game/object_manipulation.c
  Network/src/GuiProtocol/game_info_cmd.c
  Network/src/GuiProtocol/gui_event.c
  Network/src/GuiProtocol/gui_event_bis.c
  Network/src/GuiProtocol/gui_event_quat.c
  Network/src/GuiProtocol/gui_event_quin.c
  Network/src/GuiProtocol/gui_event_ter.c
  Network/src/GuiProtocol/player_info_cmd.c
  Network/src/GuiProtocol/time_cmd.c
  Network/src/Server/server_loop.c
  Network/src/Server/update_players.c
Labels: :sparkles: Enhancement, :globe_with_meridians: Network

#82 :sparkles: Add result managment
  AI/src/ai_zappy.py
Labels: :sparkles: Enhancement, :robot: AI

#83 🥚 Create new drone
  AI/Tests/test.py
  AI/src/client_module.py
  AI/src/main.cpp
  AI/src/parsing.py
Labels: :sparkles: Enhancement, :globe_with_meridians: Network, :robot: AI

#88 :bug: Fix server loop bug
  Network/src/Server/server_loop.c
Labels: :bug: Bug, :globe_with_meridians: Network

#89 :bug: Fix AI's Look function
  AI/src/ai_zappy.py
  AI/src/client_module.py
Labels: :bug: Bug, :robot: AI

#91 🥚 Update fork way using popen instead of subprocess
  AI/src/ai_zappy.py
  AI/src/parsing.py
Labels: :sparkles: Enhancement, :robot: AI

#87 :calling: Handle control + c
  Network/CMakeLists.txt
  Network/Makefile_Network.mk
  Network/Tests/src/ClientListTests/tests_linked_list.c
  Network/include/ClientList/client_list.h
  Network/include/Server/server.h
  Network/src/ClientList/client_list.c
  Network/src/ClientList/client_list_bis.c
  Network/src/Game/game_functions.c
  Network/src/Server/complete_server.c
  Network/src/Server/server_loop.c
  Network/src/Server/update_players.c
Labels: :sparkles: Enhancement, :globe_with_meridians: Network

#96 :nerd_face: Create admin function
  Network/Makefile_Network.mk
  Network/include/Admin/admin.h
  Network/include/Game/game.h
  Network/include/Server/server.h
  Network/src/Admin/admin_command.c
  Network/src/Admin/admin_function.c
  Network/src/Admin/admin_function_bis.c
  Network/src/Admin/admin_time.c
  Network/src/Game/game_functions.c
  Network/src/Game/game_tick.c
  Network/src/Parsing/parse_args.c
  Network/src/Server/complete_server.c
  Network/src/Server/server_loop.c
  Network/src/Server/update_players.c
Labels: :globe_with_meridians: Network, :clown_face: Bonus

#100 :twisted_rightwards_arrows: Migrate core
  GUI/Makefile_GUI.mk
  GUI/src/core/Core.cpp
  GUI/src/core/Core.hpp
  GUI/src/main.cpp
Labels: :sparkles: Enhancement, :bento: GUI

#102 :bug: Fix argument function
  Network/src/Game/launch_broadcast.c
  Network/src/Server/update_players.c
Labels: :bug: Bug, :globe_with_meridians: Network

#97 :twisted_rightwards_arrows: Parsing data between gui and server
  GUI/Makefile
  GUI/src/chessElement/chessBoard.cpp
  GUI/src/chessElement/chessBoard.hpp
  GUI/src/chessElement/chessPiece.cpp
  GUI/src/core/Core.cpp
  GUI/src/core/Core.hpp
  GUI/src/event/serverDataReceiver.cpp
  GUI/src/event/serverDataReceiver.hpp
  GUI/src/game/ZappyGame.cpp
  GUI/src/game/ZappyGame.hpp
  GUI/src/main.cpp
  GUI/src/networkGui/guiClient.cpp
  GUI/src/networkGui/guiClient.hpp
  GUI/src/player/player.cpp
  GUI/src/player/player.hpp
  GUI/src/player/playerPosition.cpp
  GUI/src/zappyIrrlicht/irrlichtWindow.cpp
  GUI/src/zappyIrrlicht/irrlichtWindow.hpp
Labels: :link: Link, :bento: GUI

#106 :world_map: Create update map function in gui
  GUI/src/chessElement/chessBoard.cpp
  GUI/src/chessElement/chessBoard.hpp
  GUI/src/event/serverDataReceiver.cpp
  GUI/src/game/ZappyGame.cpp
  GUI/src/networkGui/guiClient.cpp
Labels: :sparkles: Enhancement, :bento: GUI

#108 :bookmark: tabs server adjustement
  Network/CMakeLists.txt
  Network/Makefile_Network.mk
  Network/include/Game/game.h
  Network/include/GuiProtocol/gui.h
  Network/include/GuiProtocol/gui_event.h
  Network/src/Game/game_functions.c
  Network/src/Game/incantation.c
  Network/src/Game/launch_broadcast.c
  Network/src/GuiProtocol/gui_event.c
  Network/src/GuiProtocol/gui_event_quin.c
  Network/src/GuiProtocol/start_gui_client.c
  Network/src/Server/complete_server.c
  Network/src/Server/server_loop.c
  Network/src/Server/update_players.c
  Network/src/Server/zappy_network.c
Labels: :bug: Bug, :globe_with_meridians: Network

#112 👂 add socket listener
  GUI/src/networkGui/guiClient.cpp
Labels: :sparkles: Enhancement, :globe_with_meridians: Network, :bento: GUI

#113 :sparkles: pass data fetched from server into the HandleServerMessage…
  GUI/src/networkGui/guiClient.cpp
Labels: :sparkles: Enhancement, :globe_with_meridians: Network, :bento: GUI

#115 :twisted_rightwards_arrows: add team and color
  GUI/assets/obj/objHighPoly/Bishop.obj
  GUI/assets/obj/objHighPoly/Bishop_hi.mtl
  GUI/assets/obj/objHighPoly/King.obj
  GUI/assets/obj/objHighPoly/King_hi.mtl
  GUI/assets/obj/objHighPoly/Knight.obj
  GUI/assets/obj/objHighPoly/Knight_hi.mtl
  GUI/assets/obj/objHighPoly/Pawn.obj
  GUI/assets/obj/objHighPoly/Pawn_hi.mtl
  GUI/assets/obj/objHighPoly/Queen.obj
  GUI/assets/obj/objHighPoly/Queen_hi.mtl
  GUI/assets/obj/objHighPoly/Rook.obj
  GUI/assets/obj/objHighPoly/Rook_hi.mtl
  GUI/assets/obj/objLowPoly/Bishop.obj
  GUI/assets/obj/objLowPoly/Bishop_low.mtl
  GUI/assets/obj/objLowPoly/King.obj
  GUI/assets/obj/objLowPoly/King_low.mtl
  GUI/assets/obj/objLowPoly/Knight.obj
  GUI/assets/obj/objLowPoly/Knight_low.mtl
  GUI/assets/obj/objLowPoly/Pawn.obj
  GUI/assets/obj/objLowPoly/Pawn_low.mtl
  GUI/assets/obj/objLowPoly/Queen.obj
  GUI/assets/obj/objLowPoly/Queen_low.mtl
  GUI/assets/obj/objLowPoly/Rook.obj
  GUI/assets/obj/objLowPoly/Rook_low.mtl
  GUI/assets/obj/objMidPoly/Bishop.mtl
  GUI/assets/obj/objMidPoly/Bishop.obj
  GUI/assets/obj/objMidPoly/King.mtl
  GUI/assets/obj/objMidPoly/King.obj
  GUI/assets/obj/objMidPoly/Knight.mtl
  GUI/assets/obj/objMidPoly/Knight.obj
  GUI/assets/obj/objMidPoly/Pawn.mtl
  GUI/assets/obj/objMidPoly/Pawn.obj
  GUI/assets/obj/objMidPoly/Queen.mtl
  GUI/assets/obj/objMidPoly/Queen.obj
  GUI/assets/obj/objMidPoly/Rook.mtl
  GUI/assets/obj/objMidPoly/Rook.obj
  GUI/src/chessElement/chessBoard.cpp
  GUI/src/chessElement/chessBoard.hpp
  GUI/src/chessElement/chessPiece.cpp
  GUI/src/chessElement/chessPiece.hpp
  GUI/src/core/Core.cpp
  GUI/src/event/serverDataReceiver.cpp
  GUI/src/event/serverDataReceiver.hpp
  GUI/src/game/ZappyGame.cpp
  GUI/src/game/ZappyGame.hpp
  GUI/src/loader/textureLoader.cpp
  GUI/src/loader/textureLoader.hpp
  GUI/src/player/player.cpp
  GUI/src/player/player.hpp
  GUI/src/player/team.cpp
  GUI/src/player/team.hpp
  GUI/src/zappyIrrlicht/irrlichtWindow.cpp
Labels: :sparkles: Enhancement, :bento: GUI

#116 :rotating_light: Cleanify error handling
  GUI/interface/AError.hpp
  GUI/interface/IError.hpp
  GUI/src/chessElement/chessBoard.cpp
  GUI/src/chessElement/chessBoard.hpp
  GUI/src/core/Core.cpp
  GUI/src/event/irrlichtEventHandler.cpp
  GUI/src/event/irrlichtEventHandler.hpp
  GUI/src/event/serverDataReceiver.cpp
  GUI/src/event/serverDataReceiver.hpp
  GUI/src/game/ZappyGame.cpp
  GUI/src/game/ZappyGame.hpp
  GUI/src/loader/objLoader.cpp
  GUI/src/loader/objLoader.hpp
  GUI/src/loader/textureLoader.cpp
  GUI/src/loader/textureLoader.hpp
  GUI/src/networkGui/guiClient.cpp
  GUI/src/networkGui/guiClient.hpp
  GUI/src/player/player.cpp
  GUI/src/player/player.hpp
  GUI/src/player/team.cpp
  GUI/src/player/team.hpp
  GUI/src/zappyIrrlicht/irrlichtWindow.cpp
  GUI/src/zappyIrrlicht/irrlichtWindow.hpp
Labels: :sparkles: Enhancement, :bento: GUI, :rotating_light: Error handling

#121 :recycle: Update main loop
  GUI/src/chessElement/chessBoard.cpp
  GUI/src/chessElement/chessBoard.hpp
  GUI/src/core/Core.cpp
  GUI/src/event/serverDataReceiver.cpp
  GUI/src/game/ZappyGame.cpp
  GUI/src/game/ZappyGame.hpp
  GUI/src/main.cpp
  GUI/src/networkGui/guiClient.cpp
  GUI/src/networkGui/guiClient.hpp
  GUI/src/player/player.cpp
  GUI/src/player/player.hpp
  GUI/src/zappyIrrlicht/irrlichtWindow.cpp
Labels: :sparkles: Enhancement, :bento: GUI

#123 98 sparkles adding tiles and click detection
  GUI/Makefile
  GUI/Makefile_GUI.mk
  GUI/src/chessElement/chessBoard.cpp
  GUI/src/chessElement/chessBoard.hpp
  GUI/src/core/Core.cpp
  GUI/src/event/irrlichtEventHandler.cpp
  GUI/src/event/irrlichtEventHandler.hpp
  GUI/src/event/serverDataReceiver.cpp
  GUI/src/game/ZappyGame.cpp
  GUI/src/items/tiles.cpp
  GUI/src/items/tiles.hpp
  GUI/src/player/player.cpp
  GUI/src/player/player.hpp
  GUI/src/zappyIrrlicht/irrlichtWindow.cpp
  GUI/src/zappyIrrlicht/irrlichtWindow.hpp
Labels: :sparkles: Enhancement, :bento: GUI

#124 :sparkles: Complete AI's 'other' mode
  AI/src/ai_zappy.py
Labels: :sparkles: Enhancement, :robot: AI

#126 :twisted_rightwards_arrows: Leave properly the server
  GUI/src/zappyIrrlicht/irrlichtWindow.cpp
  GUI/src/zappyIrrlicht/irrlichtWindow.hpp
Labels: :bug: Bug, :sparkles: Enhancement, :bento: GUI

#129 :godmode: Update keyboard input
  GUI/src/event/serverDataReceiver.cpp
  GUI/src/game/ZappyGame.cpp
  GUI/src/networkGui/guiClient.cpp
  GUI/src/player/player.cpp
  GUI/src/zappyIrrlicht/irrlichtWindow.cpp
  Makefile
Labels: :globe_with_meridians: Network, :bento: GUI

#130 :twisted_rightwards_arrows: Cleanify error handling
  GUI/src/networkGui/guiClient.cpp
  GUI/src/zappyIrrlicht/irrlichtWindow.cpp
  GUI/src/zappyIrrlicht/irrlichtWindow.hpp
Labels: :bug: Bug, :bento: GUI, :rotating_light: Error handling

#132 :bug: Handle player death
  GUI/src/event/irrlichtEventHandler.cpp
  GUI/src/event/irrlichtEventHandler.hpp
  GUI/src/event/serverDataReceiver.cpp
  GUI/src/game/ZappyGame.cpp
  GUI/src/game/ZappyGame.hpp
  GUI/src/items/tiles.cpp
  GUI/src/networkGui/guiClient.cpp
  GUI/src/player/player.cpp
  GUI/src/player/playerPosition.cpp
  GUI/src/zappyIrrlicht/irrlichtWindow.cpp
Labels: :bug: Bug, :globe_with_meridians: Network

#135 🚪🚶Escape corretly
  GUI/src/chessElement/chessBoard.cpp
  GUI/src/chessElement/chessPiece.cpp
  GUI/src/core/Core.cpp
  GUI/src/event/irrlichtEventHandler.cpp
  GUI/src/event/irrlichtEventHandler.hpp
  GUI/src/game/ZappyGame.cpp
  GUI/src/networkGui/guiClient.cpp
  GUI/src/player/player.cpp
  GUI/src/zappyIrrlicht/irrlichtWindow.cpp
  GUI/src/zappyIrrlicht/irrlichtWindow.hpp
Labels: :sparkles: Enhancement, :bento: GUI

#137 :crown: AI in all its splendor
  AI/src/ai_zappy.py
  AI/src/client_module.py
  Network/CMakeLists.txt
  Network/src/Game/egg_hatching.c
  Network/src/Game/game_command_ter.c
  Network/src/Game/game_tick.c
  Network/src/Game/incantation.c
  Network/src/Game/inventory_function.c
  Network/src/Game/launch_broadcast.c
  Network/src/Game/look_around.c
  Network/src/GuiProtocol/player_info_cmd.c
  Network/src/GuiProtocol/start_gui_client.c
  Network/src/Server/server_loop.c
  Network/src/Server/update_players.c
  Network/src/Server/zappy_network.c
  Network/src/main.c
Labels: :sparkles: Enhancement, :robot: AI

#138 :memo: Create doc
  Doc/AI/AI Zappy.pdf
  Doc/AI/Doxyfile
  Doc/GUI/Doxyfile
  Doc/GUI/gui.pdf
  Doc/Network/Doxyfile
  Doc/Network/server.pdf
  Makefile
Labels: 📂 doc
